// colors
@mixin themes($map) {
    @each $theme, $color in $map {
        &-#{$theme} {
            background-color: $color;
        }
    }
}

// Flex-basis
@mixin flex-basis($map) {
    @each $col, $flex-basis in $map {
        &-#{$col} {
            flex-basis: $flex-basis;
        }
    }
}

//Button Lighten
@mixin btn-color($map) {
    @each $key,$color in $button-colors {
        .#{$key} {
        background-color: $color;
        &:hover {
            background-color: lighten($color, 15%);
            transition: background-color 200ms ease-in-out;
          }
        }
    }
}


//Centered
@mixin centered($dis: block, $mar-l: auto, $mar-r: auto) {
    display: $dis;
    margin-left: $mar-l;
    margin-right: $mar-r;

    @content;
}

//Flex
@mixin flexed($dis: flex, $f-dir: column) {
    display: flex;
    flex-direction: column;
    
    @content;
}


// Media queries 

@mixin mq($break) {
    $value: map-get($breakpoints, $break);

    @media (min-width: $value) {
        @content;
    }
}
