// colors
@mixin themes($map) {
    @each $theme, $color in $map {
        &-#{$theme} {
            background-color: $color;
        }
    }
}

//Images
@mixin img-position($dis: block, $mar-l: auto, $mar-r: auto, $mar-t: 10px, $max-w: 100%) {
    display: $dis;
    margin-left: $mar-l;
    margin-right: $mar-r;
    margin-top: $mar-t;
    max-width: $max-w; 

    @content;
}
