// ======================================
//  Variables
// ======================================

// ------------Colors--------------------
$color-primary: #58e1c1;
$color-font-primary: #777;
$color-white: #fff;
$color-border-img: #ccc;

$color-button-default: #51ddfc;
$color-button-error: #e4757a;
$color-button-info: #927bc1;
$color-button-success: #63cc82;
$color-button-warning: #fd7856;

// Fonts
$font-stack-primary: 'Lato', sans-serif;


//-----------Theme Colors----------------

$themes: ( 
    "1": $color-button-info,
    "2": $color-button-warning,
    "3": #deb2ee,
    "4": #7ee6fd,
    "5": #88d9a0,
    "6": #4da2bb,  
    "7": #ec9fa3,
    "8": #fd9f85,
    "9": $color-button-error,
   "10": $color-button-success,
   "11": $color-button-info,
   "12": #80e8d1,
);

//-----------Breakpoints------------------
$break-large: 768px;