/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include img-position {
        max-height: 100%;
    }
  }
  
  .img-frame {
    @include img-position {
        padding: 13px;
        border: 1px solid $color-border-img;
    }
  }
  
  .img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  